# Make a copy of this file with the name .env and assign values to variables

# Your Elastic Cloud credentials
ELASTIC_CLOUD_ID=
ELASTIC_API_KEY=

# If you are using a self-hosted Elasticsearch
# ELASTICSEARCH_URL=

# The name of the Elasticsearch indexes
ES_INDEX=workplace-app-docs
ES_INDEX_CHAT_HISTORY=workplace-app-docs-chat-history

# Uncomment and complete if you want to use OpenAI
LLM_TYPE=openai
OPENAI_API_KEY=

# Uncomment and complete if you want to use Anthropic
LLM_TYPE=anthropic
ANTHROPIC_API_KEY=


# Korea_investment_api_key
KOREA_INVESTMENT_API_KEY=
KOREA_INVESTMENT_API_SECRET=
KOREA_INVESTMENT_ACC_NO= 

#dart_api_key
DART_API_KEY=

#bing_api_key
BING_API_KEY=

